.txtCorrecto {
    color: #976dd0;
    font-size: 70%;
  }
  
  .btn-Volver {
    background-color: #ff9052 !important;
    color: white !important;
  }
  
  .btn-Menu {
    background-color: #77d353 !important;
    color: white !important;
  }
  
// ---------------------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------------------
// Query para celular muy baja gama
@media only screen and (min-device-width: 279px) and (max-device-width: 282px) {
  .btn-salir {
    margin-right: 1%;
    margin-top: 18px;
  }

  .btnSalir {
    width: 23%;
  }
}

// ---------------------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------------------
// Query para celular baja gama
@media only screen and (min-device-width: 350px) and (max-device-width: 410px) {
  .btn-salir {
    margin-right: 1%;
    margin-top: 18px;
  }

  .btnSalir {
    width: 23%;
  }
}

// ---------------------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------------------
// Query para celular media gama
@media only screen and (min-device-width: 411px) and (max-device-width: 450px) {
  .btn-salir {
    margin-right: 1%;
    margin-top: 18px;
  }

  .btnSalir {
    width: 23%;
  }
}

// ---------------------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------------------
// Query para pantalla grande como laptop o monitor
@media only screen and (min-device-width: 1200px) and (max-device-width: 1500px) {
  .btn-salir {
    margin-right: 3%;
    margin-top: 18px;
  }

  .btnSalir {
    width: 10%;
  }
}

// Pantalla mas grande
@media only screen and (min-device-width: 1700px) and (max-device-width: 2000px) {
  .btn-salir {
    margin-right: 3%;
    margin-top: 18px;
  }

  .btnSalir {
    width: 10%;
  }
}
