@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --main-color: #dd2f6e;
  --color-dark: #1d2231;
  --text-grey: #8390a2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  padding: 0.5rem 0rem;
}

.main-content {
  transition: margin-left 300ms;
  margin-left: 345px;
}

main {
  margin-top: 85px;
  padding: 2rem 1.5rem;
  min-height: calc(100vh - 90px);
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}

.card-single {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 2rem;
  border-radius: 2px;
}

.card-single div:last-child span {
  font-size: 3rem;
  color: blue;
}

.card-single div:first-child span {
  color: var(--text-grey);
}

.card-single:last-child {
  background: blue;
}

.card-single:last-child h1,
.card-single:last-child div:first-child span,
.card-single:last-child div:last-child span {
  color: #fff;
}

.recent-grid {
  margin-top: 10.5rem;
  display: grid;
  grid-template-columns: 70% auto;
  margin-left: 16rem;
  justify-content: center;
}

.card {
  background: #fff;
  border-radius: 5px;
}

.card-header {
  padding: 1rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}

.card-header button {
  background: rgb(86, 131, 214);
  border-radius: 10px;
  color: #fff;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  border: 1px solid rgb(86, 131, 214);
}

table {
  border-collapse: collapse;
}

thead tr {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

thead td {
  font-weight: 700;
}
table td:first-child {
  width: 200px;
}
table td:nth-child(2) {
  width: 400px;
  text-align: start;
}
table td:nth-child(3) {
  width: 400px;
  text-align: start;
}
table td:nth-child(4) {
  width: 400px;
  text-align: start;
}
table td:nth-child(5) {
  width: 400px;
  text-align: start;
}
table td:nth-child(6) {
  width: 400px;
  text-align: start;
}
table td:nth-child(7) {
  width: 200px;
  text-align: center;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

// --------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Media

@media only screen and (min-device-width: 350px) and (max-device-width: 410px) {
  .noHayDatos {
    margin-top: 30px;
    width: 260%;
  }
  .recent-grid {
    margin-left: 20px;
    margin-top: 28%;
  }

  .card {
    width: 120%;
  }

  thead td {
    font-weight: 700;
    border: 1px solid #000;
  }

  table td:first-child {
    border: 1px solid #000;
    width: 200px;
  }

  table td:nth-child(2) {
    border: 1px solid #000;
    width: 400px;
    text-align: center;
  }

  table td:nth-child(3) {
    border: 1px solid #000;
    width: 400px;
    text-align: center;
  }

  table td:nth-child(4) {
    border: 1px solid #000;
    width: 400px;
    text-align: center;
  }

  table td:nth-child(5) {
    border: 1px solid #000;
    width: 400px;
    text-align: center;
  }

  table td:nth-child(6) {
    border: 1px solid #000;
    width: 400px;
    text-align: center;
  }

  table td:nth-child(7) {
    width: 200px;
    text-align: center;
  }

  .agregar {
    width: 35%;
  }

  .listadoReto {
    font-size: 20px;
  }
}

@media only screen and (min-device-width: 411px) and (max-device-width: 450px) {
  .recent-grid {
    margin-left: 14px;
    margin-top: 34%;
  }

  .card {
    width: 120%;
  }

  thead td {
    font-weight: 700;
    border: 1px solid #000;
  }

  table td:first-child {
    border: 1px solid #000;
    width: 200px;
  }

  table td:nth-child(2) {
    border: 1px solid #000;
    width: 400px;
    text-align: center;
  }

  table td:nth-child(3) {
    border: 1px solid #000;
    width: 400px;
    text-align: center;
  }

  table td:nth-child(4) {
    border: 1px solid #000;
    width: 400px;
    text-align: center;
  }

  table td:nth-child(5) {
    border: 1px solid #000;
    width: 400px;
    text-align: center;
  }

  table td:nth-child(6) {
    border: 1px solid #000;
    width: 400px;
    text-align: center;
  }

  table td:nth-child(7) {
    width: 200px;
    text-align: center;
  }
}

@media only screen and (min-device-width: 539px) and (max-device-width: 550px) {
  table td:first-child {
    border: 1px solid #000;
    width: 200px;
  }

  table td:nth-child(2) {
    border: 1px solid #000;
    width: 400px;
    text-align: center;
  }

  table td:nth-child(3) {
    border: 1px solid #000;
    width: 400px;
    text-align: center;
  }

  table td:nth-child(4) {
    border: 1px solid #000;
    width: 400px;
    text-align: center;
  }

  table td:nth-child(5) {
    border: 1px solid #000;
    width: 400px;
    text-align: center;
  }

  table td:nth-child(6) {
    border: 1px solid #000;
    width: 400px;
    text-align: center;
  }

  table td:nth-child(7) {
    width: 200px;
    text-align: center;
  }

  .recent-grid {
    margin-left: -7px;
    margin-top: 26%;
  }

  .card {
    width: 120%;
  }
}

@media only screen and (min-device-width: 910px) and (max-device-width: 930px) {
  table td:first-child {
    border: 1px solid #000;
    width: 200px;
  }

  table td:nth-child(2) {
    border: 1px solid #000;
    width: 400px;
    text-align: center;
  }

  table td:nth-child(3) {
    border: 1px solid #000;
    width: 400px;
    text-align: center;
  }

  table td:nth-child(4) {
    border: 1px solid #000;
    width: 400px;
    text-align: center;
  }

  table td:nth-child(5) {
    border: 1px solid #000;
    width: 400px;
    text-align: center;
  }

  table td:nth-child(6) {
    border: 1px solid #000;
    width: 400px;
    text-align: center;
  }

  table td:nth-child(7) {
    width: 200px;
    text-align: center;
  }

  .recent-grid {
    margin-left: -47px;
    margin-top: 17%;
  }

  .card {
    width: 120%;
  }
}

@media only screen and (min-device-width: 1023px) and (max-device-width: 1030px) {
  .recent-grid {
    margin-left: -84px;
    margin-top: 17%;
  }

  .card {
    width: 120%;
  }
}

@media only screen and (min-device-width: 1279px) and (max-device-width: 1282px) {
  .recent-grid {
    margin-left: 20px;
    margin-top: 15%;
  }

  .card {
    width: 121%;
  }
}

@media only screen and (min-device-width: 1700px) and (max-device-width: 2000px) {
  .noHayDatos {
    margin-top: 30px;
    width: 683px;
    font-size: 50px;
  }
}