@media only screen and (max-width: 1400px) {
    .card-body {
      margin-left: 30%;
      width: 60%;
    }
  
    input {
      width: 100%;
    }
  
    .centrar-form {
      display: flex;
      justify-content: center;
      justify-self: center;
    }
  }
  