// ---------------------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------------------
// Query para celular

@media only screen and (max-width: 480px) {
  .btn-salir {
    margin-right: 1%;
    margin-top: 1%;
  }

  .btnSalir {
    width: 23%;
  }

  .txtOportunidad {
    color: #77d353;
    font-size: 45px;
    text-align: center;
  }

  .cardOportunidad {
    margin-bottom: 100%;
    justify-content: center;
    text-align: center;
  }

  .txtSi {
    cursor: pointer;
    font-size: 50px;
    color: #00a6ff;
  }

  .txtNo {
    cursor: pointer;
    font-size: 50px;
    color: #f95f62;
  }
}

// ---------------------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------------------
// Query para pantalla grande como laptop o monitor

@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
  .btn-salir {
    margin-right: 3%;
    margin-top: 1.9px;
  }

  .btnSalir {
    width: 10%;
  }

  .txtOportunidad {
    color: #77d353;
    font-size: 70px;
    text-align: center;
  }

  .cardOportunidad {
    margin-bottom: 100%;
    justify-content: center;
    text-align: center;
  }

  .txtSi {
    cursor: pointer;
    font-size: 60px;
    color: #00a6ff;
  }

  .txtNo {
    cursor: pointer;
    font-size: 60px;
    color: #f95f62;
  }
}
