@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
  .contenedorCards {
    display: grid;
    grid-template-columns: 42% 42%;
    justify-content: center;
  }

  .cardMatematica {
    border: 7px solid #fe5c26;
    margin-bottom: 10%;
    width: fit-content;
  }

  .cardLenguaje {
    border: 7px solid #5902b0;
    margin-bottom: 10%;
    width: 95%;
    margin-left: 15%;
  }

  .cardSociales {
    border: 7px solid #46a6c7;
    margin-bottom: 10%;
    width: 95%;
    margin-left: 0%;
  }

  .cardNaturales {
    border: 7px solid #029287;
    margin-bottom: 10%;
    width: 95%;
    margin-left: 15%;
  }

  .textMatematica {
    color: #fe5c26;
    font-weight: revert;
    margin-top: 18%;
    font-size: 135%;
  }

  .textLenguaje {
    color: #5902b0;
    font-weight: revert;
    margin-top: 18%;
    font-size: 150%;
  }

  .textSociales {
    color: #46a6c7;
    font-weight: revert;
    margin-top: 12%;
    font-size: 150%;
  }

  .textNaturales {
    color: #029287;
    font-weight: revert;
    margin-top: 12%;
    font-size: 150%;
  }

  .imgall {
    margin-left: -30%;
  }

  .btn-salir {
    margin-right: 3%;
    margin-top: 1.9px;
  }

  .btnSalir {
    width: 10%;
  }
}

@media only screen and (max-width: 750px) {
  .cards {
    grid-template-columns: 100%;
    width: 0;
  }

  .btn-salir {
    margin-right: 1%;
    margin-top: 1%;
  }

  .btnSalir {
    width: 23%;
  }
}

@media only screen and (max-width: 380px) {
  .cards {
    grid-template-columns: 100%;
    width: 0;
  }

  .btn-salir {
    margin-right: 1%;
    margin-top: 1%;
  }

  .btnSalir {
    width: 23%;
  }
}
