<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
  <link rel="stylesheet"
    href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />
  <style href="./menuarea.component.scss"></style>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-8 mx-auto">
        <div class="m-0 vh-100 row justify-content-center align-items-center">
          <div class="card-title text-center mb-4 fw-bolder display-5">
            <label style="color: #976dd0">Elige un área en el que desees retar a un amigo...</label>
          </div>

          <div class="row contenedorCards" style="cursor: pointer;">
            <div class="card cardMatematica">
              <div class="row g-0" (click)="Matematica()">
                <div class="col-md-8">
                  <h5 class="card-title textMatematica">Matemáticas</h5>
                </div>
                <div class="col-md-4">
                  <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="imgMatematica" />
                </div>
              </div>
            </div>

            <div class="card cardLenguaje" style="cursor: pointer;">
              <div class="row g-0" (click)="Lenguaje()">
                <div class="col-md-8">
                  <h5 class="card-title textLenguaje">Lenguaje</h5>
                </div>
                <div class="col-md-4">
                  <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="imgLenguaje" />
                </div>
              </div>
            </div>

            <div class="card cardSociales" style="cursor: pointer;">
              <div class="row g-0" (click)="CienciaSociales()">
                <div class="col-md-8">
                  <h5 class="card-title textSociales">Ciencias Sociales</h5>
                </div>
                <div class="col-md-4">
                  <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="imgSociales" />
                </div>
              </div>
            </div>

            <div class="card cardNaturales" style="cursor: pointer;">
              <div class="row g-0" (click)="CienciaNaturales()">
                <div class="col-md-8">
                  <h5 class="card-title textNaturales">Ciencias Naturales</h5>
                </div>
                <div class="col-md-4">
                  <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="imgNaturales" />
                </div>
              </div>
            </div>

            <!-- End of cards -->
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>