@media only screen and (max-width: 960px) {
    .cards {
        grid-template-columns: 100%;
        width: 0;
    }
}

@media only screen and (max-width: 750px) {
    .cards {
        grid-template-columns: 100%;
        width: 0;
    }
}

@media only screen and (max-width: 380px) {
    .cards {
        grid-template-columns: 100%;
        width: 0;
    }
}