<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
    <style href="mirar-avance.component.html"></style>
  </head>

  <body>
    <div class="btn-salir" style="text-align: right">
      <button class="btn btn-success btnSalir" (click)="salir()">Salir</button>
    </div>

    <div class="col-md-12">
      <div class="card-title text-center mb-5 fw-bolder display-5">
        <label class="">Este ha sido tu desempeño este año</label>
      </div>
    </div>

    <div class="grid-container text-center" *ngFor="let punt of puntajes">
      <div>Matemáticas</div>
      <div>Lenguaje</div>
      <div>C.Naturales</div>
      <div>C.Sociales</div>
      <div
        *ngIf="punt.puntuacion > 1"
        class="grid-item"
        style="
          background-image: url('https://picsum.photos/id/733/900/900.jpg');
        "
      ></div>
      <div
        class="grid-item"
        style="
          background-image: url('https://picsum.photos/id/584/900/900.jpg');
        "
      ></div>
      <div
        class="grid-item"
        style="
          background-image: url('https://picsum.photos/id/844/900/900.jpg');
        "
      ></div>
      <div
        class="grid-item"
        style="
          background-image: url('https://picsum.photos/id/160/900/900.jpg');
        "
      ></div>
    </div>
  </body>
</html>
