.btn-amigo {
    background-color: #176ae7 !important;;
    color: white !important;
}

.btn-personal {
    background-color: #eea114 !important; 
    color: white !important;
}

.btn-mirAvance {
    background-color: #20c928 !important;
    color: white !important;
}