<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <style href='retos.component.scss'> </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="">
                <div class="card border-0 rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-title text-center mb-4 fw-bolder display-3">
                                    <label style="color: rgb(6, 20, 202)">Reto {{categoria}}</label>
                                </div>
                            </div>
                        </div> -->
<!-- <div class="card-title text-center mb-4 fw-bolder fs-2"> -->
<!-- <div class="card-title mb-4 fw-bolder" style="font-size: 2rem" *ngIf="datosReto" >
                            <ul *ngFor="let cat of datosReto">
                                <label>{{cat.pregunta}}</label>
                              </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
    <style href="retos.component.scss"></style>
  </head>

  <body>
    <div class="container" style="justify-content: center; text-align: center">
      <div class="row">
        <div class="">
          <div class="card border-0 rounded-3 my-5">
            <div class="card-body p-4 p-sm-5" *ngFor="let cat of datosReto">
              <div class="row">
                <div class="col-md-12">
                  <div class="card-title text-center mb-4 fw-bolder display-3">
                    <label style="color: rgb(6, 20, 202)"
                      >Reto {{ categoria }}</label
                    >
                  </div>
                </div>
              </div>
              <!-- <div class="card-title text-center mb-4 fw-bolder fs-2"> -->
              <div
                class="card-title mb-4"
                style="font-size: 1.5rem"
                *ngIf="datosReto"
              >
                <!-- <div class="card-title mb-4 fw-bolder" style="font-size: 2rem" *ngIf="datosReto"> -->

                <div>
                  <p
                    id="pregunta"
                    style="justify-content: center; text-align: justify"
                  >
                    {{ cat?.pregunta }}
                  </p>
                </div>

                <img src="{{ cat.imageUrl }}" width="60%" />

                <div
                  class="card-title mt-5"
                  style="font-size: 1.5rem"
                  *ngFor="let opc of datosOpciones"
                >
                  <p style="text-align: start">A. {{ opc.opcion1 }}</p>
                  <p style="text-align: start">B. {{ opc.opcion2 }}</p>
                  <p style="text-align: start">C. {{ opc.opcion3 }}</p>
                </div>
              </div>
              <!-- 
            <div>
              <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteSeason">
              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
              </mat-radio-button>
            </mat-radio-group>
            </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
